<div class="filmTvGuide">
    <header class="container">
        <h1><i class="fa fa-video-camera"></i> Film/TV Guide</h1>
        <p>Powered by TMDb</p>
        <nav>
            <ul class="list-unstyled list-inline">
                <li ng-repeat="section in filmTvGuide.sections">
                    <button class="btn btn-primary" ng-click="filmTvGuide.getData(section.section, section.searchTerm)"><span ng-bind="section.name"></span> <i class="fa {{section.icon}}"></i></button>
                </li>
                <!--<li>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Search database">
                    </div>
                </li>-->
            </ul>
        </nav>
    </header>
    <section class="filmTvGuide__listings">
        <ul class="list-unstyled">
            <li ng-repeat="items in filmTvGuide.listings">
                <img ng-src="http://image.tmdb.org/t/p/w500{{items.poster_path}}" class="img-responsive" title="{{items.title}}" />
                <div id="{{items.id}}" class="filmTvGuide__listings--nav">
                    <a title="More Info" class="infoBtn" ng-click="filmTvGuide.getDetails(filmTvGuide.section, items.id)"><i class="fa fa-info-circle"></i></a>
                    <a title="Add to Watched" class="watchedBtn" ng-click="filmTvGuide.addWatched(filmTvGuide.section, items.id)"><i class="fa fa-eye"></i></a>
                    <a title="Add to Favourite" class="favouriteBtn" ng-click="filmTvGuide.addFavourite(filmTvGuide.section, items.id)"><i class="fa fa-heart"></i></a>
                </div>
            </li>
            <li>
                <div id="filmLoader">
                    <div>
                        <i class="fa fa-spinner fa-spin"></i>
                        <p>Loading...</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <div class="clearfix"></div>
    <section class="filmTvGuide__modal" ng-if="filmTvGuide.modal.show">
        <img ng-src="http://image.tmdb.org/t/p/w1000{{filmTvGuide.modal.details.backdrop_path}}" title="{{filmTvGuide.modal.details.title}}" />
        <div class="filmTvGuide__modal--content img-rounded">
            <div class="filmTvGuide__modal--closeBtn" ng-click="filmTvGuide.closeModal()"><i class="fa fa-close"></i></div>
            <div class="col-md-8">
                <h1 ng-if="filmTvGuide.modal.details.title" ng-bind="filmTvGuide.modal.details.title"></h1>
                <h1 ng-if="filmTvGuide.modal.details.name" ng-bind="filmTvGuide.modal.details.name"></h1>
                <h4 ng-bind="filmTvGuide.modal.details.tagline"></h4>
                <p ng-bind-html="filmTvGuide.modal.details.overview"></p>
                <p ng-if="filmTvGuide.modal.details.status"><strong>Status</strong>: <span ng-bind="filmTvGuide.modal.details.status"></span></p>
                <p ng-if="filmTvGuide.modal.details.release_date"><strong>Released</strong>: <span ng-bind="filmTvGuide.modal.details.release_date"></span></p>
                <p ng-if="filmTvGuide.modal.details.number_of_seasons"><strong>Number of Seasons</strong>: <span ng-bind="filmTvGuide.modal.details.number_of_seasons"></span></p>
                <p ng-if="filmTvGuide.modal.details.number_of_episodes"><strong>Number of Episodes</strong>: <span ng-bind="filmTvGuide.modal.details.number_of_episodes"></span></p>
                <p ng-if="filmTvGuide.modal.details.genres"><strong>Genres</strong>: <span ng-repeat="items in filmTvGuide.modal.details.genres"><span ng-bind="items.name"></span><span ng-hide="$last">,</span> </span></p>
                <ul class="list-unstyled list-inline">
                    <li><button class="btn btn-primary favouriteBtn" ng-click="filmTvGuide.addFavourite(filmTvGuide.section, filmTvGuide.modal.details.id)"> Add to Favourites <i class="fa fa-heart"></i></button></li>
                    <li><button class="btn btn-primary"> Add to Watched list <i class="fa fa-eye"></i></button></li>
                    <li ng-if="filmTvGuide.modal.details.homepage"><button class="btn btn-primary" ng-click="filmTvGuide.externalLink(filmTvGuide.modal.details.homepage)"> Homepage <i class="fa fa-home"></i></button></li>
                    <li ng-if="filmTvGuide.modal.details.imdb_id"><button class="btn btn-primary" ng-click="filmTvGuide.externalLink('http://www.imdb.com/title/' + filmTvGuide.modal.details.imdb_id)"> More Info <i class="fa fa-info-circle"></i></button></li>
                </ul>
            </div>
            <div class="col-md-4">
                <img ng-src="http://image.tmdb.org/t/p/w500{{filmTvGuide.modal.details.poster_path}}" class="img-responsive" title="{{filmTvGuide.modal.details.title}}" />
            </div>
        </div>
    </section>
</div>
